---
const { page } = Astro.props
---
  {
    page.lastPage > 1 && (
        <nav aria-label="pagination" class="nav-paginate">
            <ul>
                {page.url.prev ? (
                    <li class="btn">
                        <a href={page.url.prev}>Previous</a>
                    </li>
                ) : null}
                {page.url.next ? (
                    <li class="btn">
                        <a href={page.url.next}>Next</a>
                    </li>
                ) : null}
            </ul>
        </nav>
    )
  }
