---
import "../styles/components/TagCard.scss";
import "../styles/components/_card.scss";
const allPosts = await Astro.glob('../pages/blog/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<article class="term card-tag">
  <header class="card-tag--header">
    <div class="card-tag--spec">
      <ul class="card-tags">
        {
            tags.map((t) => (
                <li class="card-tags-link tag-link">
                    <a href={`${new URL(`/tag/${t}`, Astro.site).toString()}`}>
                        <span aria-hidden="true"># </span>
                        {t}
                    </a>
                </li>
            ))
        }
    </ul>
    </div>
  </header>
</article>
